:root {
	--color: #000;
	--bg-color: #fff;
	--color-light: #636363;
	--bg-color-light: #f5f5f5;
  }
  @media (prefers-color-scheme: dark) {
	:root {
	  --color: #d1d2cc;
	  --bg-color: #272d37;
	  --color-light: #f5f5f5;
	  --bg-color-light: #343946;
	}
  }
  
  [hbox] {
	display: flex;
	flex-direction: row;
  }
  [vbox] {
	display: flex;
	flex-direction: column;
  }
  [flex="1"] {
	flex: 1;
  }
  [pack=center] {
	justify-content: center;
  }
  [align=center] {
	align-items: center;
  }
  [pack=end] {
	justify-content: flex-end;
  }
  [align=end] {
	align-items: flex-end;
  }
  
  body {
	color: var(--color);
	background-color: var(--bg-color);
	font-family: Kalameh, "Helvetica Neue", Helvetica, arial, sans-serif;
	font-size: 13px;
	width: 220px;
	margin: 0;
  }
  @media (pointer: none), (pointer: coarse) {
	body {
	  width: unset;
	}
  }
  input {
	outline: none;
	background-color: var(--bg-color);
	color: var(--color);
	border: none;
	box-sizing: border-box;
	height: 28px;
	border-radius: 0;
	font-size: 11px;
  }
  input[type=button] {
	cursor: pointer;
	border: none;
	transition-delay: 0;
	height: 32px;
	width: 110px;
  }
  input[type=button].active {
	opacity: 0.5;
  }
  
  input[type=button]:disabled {
	opacity: 0.2;
	cursor: default;
  }
  
  #agent {
	white-space: nowrap;
	display: flex;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1px;
	flex-direction: column;
  }
  